@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  @apply transition-colors duration-200;
}

@layer base {
  body {
    @apply font-inter scroll-smooth bg-bgLight dark:bg-bgDark
  }

  .nav-link {
    @apply mr-8 md:text-lg text-primaryBrown dark:text-neutral-100 
  }

  .text-color {
    @apply text-primaryBrown dark:text-neutral-100
  }

  .top-cat-text {
    @apply text-center text-color mt-2 text-xs md:text-base tracking-wide
  }

  .top-cat-img {
    @apply w-20 md:w-52 rounded-lg shadow-lg
  }

  .active {
    @apply font-bold mr-8 md:text-lg text-[#ca8a04] dark:text-orange-600 underline underline-offset-8
  }

  .campground-text {
    @apply text-color text-xs md:text-base leading-relaxed
  }

  .campground-span {
    @apply font-bold text-color text-sm md:text-lg bg-yellow-600/70 dark:bg-orange-600 tracking-wide px-2 py-1 rounded-md mt-8
  }

  .camp-card {
    @apply bg-lime-500/50 dark:bg-[#1c1c1c] mt-10 md:mt-16 py-4 px-8 md:py-8 md:px-16 rounded-lg border border-primaryBrown/70 dark:border-white/70 shadow-xl dark:shadow-zinc-600/10
  }

  .camp-card-icon {
    @apply absolute -right-2 -top-2 w-[28px] h-[28px] p-1 text-black bg-yellow-300 rounded-full drop-shadow-md
  }

  .no-spin::-webkit-inner-spin-button,
  .no-spin::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  .no-spin {
    appearance: textfield;
    -moz-appearance: textfield; 
  }

  .not-selected {
    @apply border-2 border-lime-500 dark:border-orange-600 px-2 py-1 rounded-md text-white
  }

  .selected {
    @apply border-2 border-lime-500 dark:border-orange-600 bg-lime-500 dark:bg-orange-600 text-color px-2 py-1 rounded-md
  }

  .quantity-btn {
    @apply bg-lime-500 dark:bg-white/10 text-sm md:text-base text-primaryBrown dark:text-orange-600 text-center border-2 border-black/40 dark:border-white/60 rounded-md py-1 px-2 cursor-pointer
  }

  .footer-nav {
    @apply text-sm md:text-lg text-color dark:text-black mx-4 md:mx-8 cursor-pointer hover:underline hover:underline-offset-2
  }

}

.swiper-button-next,
.swiper-button-prev {
  @apply text-white/75 p-2 rounded-full;
}

.swiper-pagination-bullet {
  @apply hidden md:inline-grid bg-gray-800;
}

.swiper-pagination-bullet-active {
  @apply bg-primaryBrown dark:bg-orange-600;
}
